body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .content {
    text-align: center;
    padding: 50px;
    background-color: white;
    margin-top: 60px; 
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }
  