html, body {
  height: 100%;
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav {
  background-color: #555; 
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex-grow: 1;
  text-align: center;
  padding: 50px;
}
