#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
 }
 
 
 .aqua {
    color:aqua;
 }
 
 
 .white {
    color:white;
 }
 
 
 html, body {
    padding: 10px 40px;
    font-size: x-large;
    font-family:Cambria;
 }
 
 
 .header-left {
    margin-top: 10%;
    margin-left: 225px;
 }
 
 
 .align-middle {
    display: block;
    margin-top: 15%;
    text-align: center;
 }
 
 
 .align-right {
    display: flex;
    justify-content: flex-end;
 }
 
 
 .align-left {
    display: flex;
    justify-content: flex-start;
 }
 
 
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
 }
 
 
 nav a {
    color:white;
    font-size: 30px;
    padding: 5px 15px;
    text-decoration: none;
 }
 
 
 nav a:hover {
    color:aqua;
 }
 
 
 .about-list {
    margin-top: 0px;
    padding: 0;
    margin-left: 17%;
    list-style-type: none;
 }
 
 
 .about-list ul {
    margin-left: 20px;
    padding-left: 20px;
 }
 
 
 ul li {
    margin-bottom: 30px;
    font-size: x-large;
 }
 
 
 .symbol {
    display: flex;
    justify-content: flex-end;
    width: auto;
 }
 
 
 .symbol img {
    width: 300px;
    height: auto;
 }
 
 
 .align-symbol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
 }
 
 
 p {
    width: 80%;
    font-size: 35px;
 }
 
 
 .interest-p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 12%;
 }
 
 
 .hobby-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10%;
    gap: 200px;
 }
 
 
 .list {
    list-style-type: disc;
    font-weight: bolder;
    width: auto;
 }
 
 
 .icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
 }
 
 
 .icons img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
 }
 